@import '../../App.scss';

.account-page{
    .text-zone{
        position: absolute;
        left: 160px;
        width: 80%;
        min-height: 10%;
    }

    h1 {
        font-size: 53px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .container {
        position: absolute;
        left: 160px;
        width: 80%;
        height: 87%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        background: lightgray;
        top: 8%;

        .user-info {
            font-size: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .name {
                font-size: 60px;
                font-weight: 900;
                color: $contrast;
            }
        }
    
        .logout-btn {
            font-size: 50px;
            width: 200px;

            .icon {
                color: $base;
            }

            &:hover {
                background: $contrast;
                svg {
                    color: #fff;
                }
            }
        }
    }
}